/* CSS Document */
*{
	margin:0px;
	padding:0px;
}

body{
	margin:0 auto;
	width:1084px;
	font-family: 'Ubuntu', sans-serif;
	background: #eafac3;
}

header{
	width:100%;
	height:auto;
}

header h1{
	position:relative;
	margin-left: 390px;
	margin-top: -300px;
}
nav{
	height:53px;
	margin-top:18px;
}
header nav ul{
	text-align:center;
	margin-left:1%;
	margin-top: -7px;
}
header nav ul li{
	width: 113px;
}
nav ul li{
	background-color:#9db239;
	display:inline-block;
	color:#FFF;

}
nav ul li a{
	text-align: center;
	width: 100%;
	display: block;
	height: 100%;
	margin: 0 auto;
	padding-top: 13px;
	text-decoration: none;
	height: 37px;
	color: #fff;
}

nav li a:hover,.active{
	color: #fff;
	background:#ff7800;
	text-decoration: none;
}
.contenedor-search{
	position: absolute;
	bottom: 0px;
	left: 0;
	display: none;
}
#contenedor-principal{
	padding: 2%;
}
#contenedor-base{
	overflow: hidden;
	border:1px solid #dbdbdb;
	background: #fff;
}
.modulos ul{
	list-style: none;
	text-align: center;
}
.modulos li{
	display: inline-block;
	margin: 20px;

}
.modulos li span {
	background: #9db239;
	width: 95%;
	position: absolute;
	bottom: 10px;
	left: -10px;
}
.modulos li a{
	/*position: relative;
	top: 5px;*/
	color:#FFF;
	padding:8px;
	font-size: 11px;
	text-decoration: none;
	display: block;
	height:25px;
}

.modulos img{
	box-shadow: 4px 4px 5px #888888;
}
.modulos li a:hover{
	background: #ff7800;
}
.modulos li figure{
	position: relative;
}
#caja-noticias{
	width: 98%;
	margin: 0 auto;
}
.separador{
	border-bottom: 1px solid #dbdbdb;
}
.noticia{
	width: 28%;
	display: inline-block;
	float: left;
	height:246px;
	width: 251px;
	margin: 2%;
	border:1px solid #dbdbdb;
	padding: 15px;
	position: relative;
}
.noticia h2{
	color: #9db239;
	font-size:16px;
	display: list-item;
	margin-left: 20px;
}
.noticia h3{
	color: #9db239;
	font-size: 10px;
}
.noticia p{
	text-align: justify;
	padding: 5px;
	margin-top: 12px;

}
.noticia span{
	position: absolute;
	bottom: 30px;
	right: 25px;
}
.noticia span a{
	color:#9db239;
	font-weight: bold;
	text-decoration: none;
}
.noticia span a:hover{
	color:#ff7800;
}
#extras{
	overflow: hidden;
}
#extras article{
	display: inline-block;
	margin-left: 40px;
	margin-top: 40px;
	float: left;
}
#herramientas{
}
#herrramientas ul{
	list-style: none;
	border: 1px solid black;
}
#herramientas li{
	display: block;
	background: #ff7800;
	margin: 2px;
	text-align: center;
	width:279px;
	vertical-align: middle;
}
#herramientas a{
	text-shadow:2px 2px #272822;
	color:#fff;
	font-size: 18px;
	font-weight: bolder;
	text-decoration: none;
	/*position: relative;
	top:22px;
	height: 76px; */
	padding: 26px;
	display: block;
	vertical-align: middle;
}
#video{
	height: 200px;
}
#video p{
	margin-top: 20px;
}
#plugin-social p{
	margin-top: 20px;
	height: 200px;
	overflow: hidden;
}
.twitter-timeline{
	height: 200px;
}
#herramientas a:hover{
	background: #9db239;
}
footer{
	background:#9db239;
	height:88px;
	margin-top: 15px;

}
.info_contacto{
	color: #fff;
	float: left;
	display: block;
	width: 280px;
	margin: 20px;
}
footer nav{
	float: right;
	display: block;
	margin-right: 20px;
}
footer nav ul li{
	width: 100px;
}
#contenedor-adulto,#contenedor-mujeres{
	padding:30px;
}
#rutinas-adulto{
	width:auto;
	height:350px;
	background:#9db239;

}
#contenedor-adulto section,#contenedor-mujeres section{
	position:relative;
	background: #fff;
	padding-top: 80px;
	padding-bottom: 80px;
	margin-bottom:30px; 
}
.titulo-contenedor{
	position: absolute;
	top:-10px;
	left: -20px;
	font-size: 18px;
	color:#fff;
	background: #ff7800;
	text-align: center;
	display: block;
	padding: 10px;
	width: 30%;
}
#rutinas-imagenes ul{list-style: none;}
#rutinas-imagenes li{display: inline-block;margin: 2px;}
#dietas-adulto article{
	display: inline-block;
	width: 29%;
	margin-left: 2%;
	margin-bottom: 2%;
}
.texto-dieta{	
	margin-top: 20px;
	text-align: justify;
}
#texto-simple{
	margin-top:-20px;}
#texto-simple p{
	padding-left: 20px;
	margin-bottom: 20px;
}
#texto-simple ul{
	padding-left: 30px;
}
#contenedor-base-adulto,#contenedor-base-mujeres{
	overflow: hidden;
	border:1px solid #dbdbdb;
	background: #9db239;
	width: 100%;
}
.comida{
	display: inline-block;
	width: 20%;
	height:420px;
	overflow: hidden;
	margin-right: 20px;
	}
#snacks{
	margin: auto;
	text-align: center;

}
.comida h2{
	margin: 15px;
}
.comida p{
	text-align: justify;
}
/*niños*/
.creadopor{
font-size: 10px;
}

#caja-famosos{
width: 98%;
margin: 0 auto;
}
.separador{
border-bottom: 1px solid #dbdbdb;
}

.dieta,.mujeres-flash{
display: inline-block;
min-height: 450px;
overflow: hidden;
margin-right: 20px;
width: 30%;
}
.mujeres-flash{
	margin-left: 20px;
	margin-right: 0;
}
.separador-vertical{
	width:4%;
	display: inline-block;
	float: left;
	min-height: 100%;
	overflow: hidden;
}
#teen{
margin-top: 30px;
text-align: center;
position: relative;
}
#teen > h2{
	margin-top: 50px;
	background: #ff7800;
}
#teen article{
	margin-top: 20px;
}
.dieta h2,.mujeres-flash h2{
margin: 10px 0px 10px 0px;
}
.dieta p, .mujeres-flash p{
text-align: justify;
}
.mujeres-flash p{
}
/*Jovenes*/
#caja-jovenes-videos h1{
	font-size:24px;}
.contenedor-jovenes{
	position: absolute;
	top:-10px;
	left: -20px;
	font-size: 18px;
	color:#fff;
	background: #ff7800;
	text-align: center;
	display: block;
	padding: 10px;
	width: 30%;
}
#caja-noticias-jovenes{
	width: 98%;
	margin:0 auto;
}
.separador-jovenes{
	border-bottom: 1px solid #dbdbdb;
}
.noticia-jovenes{
	width: 28%;
	display: inline-block;
	float: left;
	height:350px;
	width: 251px;
	margin: 2%;
	border:1px solid #dbdbdb;
	padding: 10px;
	position: relative;
}
.noticia-jovenes h2{
	color: #9db239;
	font-size:16px;
	display: list-item;
	margin-left: 20px;

}
.noticia-jovenes h3{
	color: #9db239;
	font-size: 10px;
}
.noticia-jovenes p{
	text-align: justify;
	padding: 5px;
	margin-top: 12px;

}
.noticia-jovenes span{
	position: absolute;
	bottom: 30px;
	right: 25px;
}
.noticia-jovenes span a{
	color:#9db239;
	font-weight: bold;
	text-decoration: none;
}
.noticia-jovenes span a:hover{
	color:#ff7800;
}
#rutinas-video h1{
	margin-bottom: 20px;
}
#rutinas-video{
	margin-top:160px;}
#rutinas-video ul li p{
	padding:10px;
	background:#ff7800;
	
}
#margin-video ul{

	text-align: center;
}
#rutinas-video li{
	display: inline-block;
	}
#caja-jovenes-videos{
	overflow: hidden;
	height: 400px;
	margin-left: 30px;
	margin-top:20px;
}
#caja-jovenes-videos ul{
	margin-top:30px;}
.izq{
	float:left;
	margin-left: 120px;
}
.der{
	float:right;
	margin-right: 120px;
	margin: 1px solid #ff7800;
}
.izq,.der{
	min-height: 200px;
}
#recetas-saludables{
	overflow: hidden;
	margin:auto;
}
#caja-mayores-videos{
	width:auto;
	height:300px;
	}
#rutinas-video ul{
	margin-top:-80px;}
.izq-may{
	float:left;
	margin-left: 120px;
}
.der-may{
	float:right;
	margin-right: 120px;
	margin: 1px solid #ff7800;
}
.izq-may,.der-may{
	min-height: 200px;
}

#contenedor-admin{
	width: 80%;
	background: #fff;
	margin:20px;
	padding-left:20px;
}
#contenedor-admin section{
	padding-left: 20px;
	overflow: hidden;
	padding-bottom: 20px;
	position: relative;
	padding-top: 40px;
}
/* tables */
table.posts {
	font-family:arial;
	background-color: #9db239;
	margin:10px 0pt 15px;
	font-size: 8pt;
	width: 60%;
	text-align: left;
}
table.posts thead tr th, table.posts tfoot tr th {
	background-color: #9db239;
	border: 1px solid #FFF;
	font-size: 8pt;
	padding: 4px;
	color:#fff;
}
table.posts thead tr .header {
	cursor: pointer;
}
table.posts tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}
table.posts tbody tr.odd td {
	background-color:#F0F0F6;

}
table.posts thead tr .headerSortUp {
	background-image: url(asc.gif);
}
table.posts thead tr .headerSortDown {
	background-image: url(desc.gif);
}
table.posts thead tr .headerSortDown, table.posts thead tr .headerSortUp {
background-color: #8dbdd8;
}

.noticianueva{
	display: none;
	margin-left: 120px;
	width:200px;
}
.nuevaboton{
	width: 220px;
	display: block;
	text-align: right;
	margin-bottom: 20px;
}
.nuevaboton a{
	background: #9db239;
	color:#fff;
	text-decoration: none;
	padding: 6px;
}
.nuevaboton a:hover{
	background: #ff7800;
}
.block input,.block textarea{
	-moz-border-radius:6px;
	border-radius:6px;
	border:1px solid #ccc;
	width:200px;
}
.block textarea{
	min-height: 150px;
}
#banner-admin img{
	width: 650px;
	height: 200px;
}
.block{
	margin:4px;
}
.boton{
	float:right;
}
#contenedor-base-admin{
	overflow: hidden;
	border:1px solid #dbdbdb;
	background: #9db239;
	width: 100%;
}